

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif; }


@font-face {
  font-family: 'ff';
  src: url("./Gill Sans Ultra Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

ul {
  list-style: none; }

p, ul {
  /*margin: 0px!important;*/
  line-height: 20px!important;
}

.site__content {padding: 10px;
  width: 820px;
  }

.site__stripe {width: 120px;
  vertical-align: top;
  display: inline-block;
  position: relative;padding: 10px 0px 5px 10px;
background-color: white; }
  .site__stripe--main {
    /*left: -150px;
    margin: 20px;*/ }
  .site__stripe-links li {
      font-family: 'ff', sans-serif;
    /*left: 100px;*/ }
  .site__stripe-links ul {
      padding: 0px;}

.articles {
  display: inline-block;
    width: 620px;padding: 10px;
    /*box-shadow: 0px 2px 2px 2px black;*/
        /*padding: 20px 30px 20px 10px;*/
 }

.article {
  margin: 10px;
  margin-top: 10px; }
  .article .text, .article .text p {
    text-indent: 20px; }

.spoiler__text {
  display: none; }

.spoiler__link {
  cursor: pointer; }

.link {
  color: blue; 

  text-decoration: none; }

.link-light {
  color: #fff6e6;

  text-decoration: none; }

.free-sites-img {
    width: 350px;
}

.kopiraiter-img {
  /*margin-bottom: 60px; */}

.button {
  margin: 20px; }

#back {
  /*display: inline-block;
  position: relative; */}
.text__date {
  float: right;
  }
.text__date p {
  display: inline-block;
}
.date {
  /*display: inline-block*/;
        font-family: 'ff', sans-serif;
display: inline-block;
margin-bottom: 10px;
margin-top: 10px;
 /* position: relative*/; 
    
}

.paragraph {
  padding: 10px; }
.paragraph img {
  width: 550px; }

.text {
  margin-top: 20px; }

.brief {
  padding:10px;
  background-color:white;
  /*position: absolute;*/
  top: 70px;
  width: 290px;
  color: #4f4747; 
font-family: 'ff', sans-serif;}

.brief a {
  text-decoration: none; color: #4f4747;
font-family: 'ff', sans-serif;}
/*
h3 {
  padding: 0;
  margin: 0;
  color: black;
  font-weight: 100;
 }*/

.hide {
  display: none; }

.gallery-page .date {
  float: right; }

.description-example{
 color: grey;
    
}

.que {
  font-weight: 600;
}


.footer {
    background-color:#fff;
}

.footer__lj,.footer__more, .footer__main {text-align: center;}


.footer__main{
    margin-top: 50px;
}

.new {
    font-size: 12px;
    display: inline-block;
    vertical-align: 10px;
    color: green;
    text-indent: 0px;
    padding: 0px 0px 0px 10px;
}

.list__item {
    display:inline-block;
    text-indent: 0px;
}

.project {
  margin-bottom: 60px;
  margin-top: 60px;
  font-size: 12px;
}

.tag {
  padding: 5px;
  background: #d0d0d0;
  margin: 5px;
  line-height: 25px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 4;
}

.tags {
  margin-bottom: 30px;
  margin-top: 30px;
}

.projects {
  height: 500px;
  width: 720px;
  overflow: scroll;
  margin-left: 20px;
}

.faq-title {
  padding: 10px;
}

.inner-brief {
  padding: 20px;
}

.que-faq-text {
  padding: 10px;
}

img, video {
  margin-top: 20px;
  margin-bottom: 20px;
}

h3.more {
  font-family: 'ff', sans-serif;
  font-size: 14px;
  margin-left: 10px;

}