body {
  height: 100%;
  width: 100%;
  font-size: 12px;
  font-family: ubuntu;
}

.site__header {
  height: 50px;
  background-color: #5d6064;
  color: white;
  position: relative;
}
.site__header-title {
  padding-left: 20px;
  line-height: 50px;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  font-weight: 600;
}

.controls {
  margin-top: 100px;
}
.controls__item {
  display: inline-block;
  margin: 5px;
}
.controls__item--export-import {
  width: 280px;
}

.edit_mode_on {
  display: none;
}

input[type=text], textarea {
  padding: 2px;
  margin: 3px;
  border: 1px solid #4072b2;
}

textarea {
  height: 100px;
  border: 1px solid #4072b2;
}

input[type=submit] {
  padding: 2px;
  margin: 4px;
  background-color: white;
  box-shadow: none;
  color: #4072b2;
  border: none;
}
input[type=submit]:hover {
  color: white;
  background-color: #4072b2;
  cursor: pointer;
}

.text-input {
  display: inline-block;
}

.item {
  padding: 2px;
  margin: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.item.selected {
  border: solid 2px;
}
.item.dblselected {
  border: solid 4px;
}

ul {
  list-style: inside;
  padding: 0px;
  width: 700px;
}

.select, .dblselect, .unselect {
  display: block;
  width: 100px;
  cursor: pointer;
  background-color: lightgrey;
  padding: 10px;
}

.select:hover, .dblselect:hover, .unselect:hover {
  background-color: darkgrey;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 30px;
  z-index: 1;
}

.item {
  position: relative;
}

.fixed_controls {
  background-color: white;
  position: fixed;
  top: 70px;
  left: 10px;
  width: 250px;
  border: none;
}

.instructions {
  padding: 15px;
  font-size: 12px;
  font-family: ubuntu;
}