body
{
	height: 100%;
	font-family: jb;
}

#mnogo {
	font-size: 40px;
	letter-spacing: -8px;
}

.temperature
{			
	border: solid 5px red;
	width: 10px;
	height: 60px;
	display: inline-block;
	margin: 20px;
	border-radius: 5px;
}

.hg-blue
{
	background-color: #0000ff;
	height: 30%
}

.hg-red
{
	background-color: #ff0000;
	height: 40%
}

.emptyness
{
	background-color: #ffffff;
	height: 30%
}

.controls {
	display: inline-block;
}

.btn-yes
{
	margin: 20px;			
	color: #ff0000;			
	border: 10px solid #ff0000;
	width: 30px;
	cursor: pointer;
	display: block;
}

.btn-no
{
	margin: 20px;				
	color: #0000ff;
	border: 10px solid #0000ff;
	width: 30px;
	cursor: pointer;
	display: block;
}