@font-face {
    font-family: 'disciplina_personal_useRg';
    src: url('../fonts/basic/font-webfont.woff2') format('woff2'),
         url('../fonts/basic/font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: Comfortaa;
}

.site {
  $light: #c9dbc3;
  $lighter: adjust-color($light, $lightness: 10%);
  $textLight: #75b0ab;

  $orangeMenu: #f99700;
  $redMenu: #f44336;
  $blueMenu: #009688;
  $tooblueMenu: #314a87;  
  $greenMenu: #7cb342;

  $orangeMenuLight: adjust-color($orangeMenu, $lightness: 10%);
  $redMenuLight: adjust-color($redMenu, $lightness: 10%);
  $blueMenuLight: adjust-color($blueMenu, $lightness: 10%);
  $tooblueMenuLight: adjust-color($tooblueMenu, $lightness: 10%);
  $greenMenuLight: adjust-color($greenMenu, $lightness: 10%);

  $textEarth: #009688;

  overflow: hidden;



  .site_block{
    display: block;
    width: 800px;
    margin: 0 auto;
  }

  .info_field {
    display: inline-block;             
    vertical-align: middle;
    img {
      width: 40px;
    }
  }

 
  &__header {
    @extend .site_block;
    .slider {
      position: relative;
      height: 410px;
      width: 650px;
      margin: 0 auto;
      padding-bottom: 50px;
      overflow: hidden;

      &-container {
        width: 550px;
      }

      img {
        display: inline-block;
        z-index: 0;
      }

      &__tv-promo {
        position: absolute;
        right: 50px;    
        top: 350px;
        z-index: 10;
        cursor: pointer;
      }
    }

    .header-menu {
      &__list {  
        display: block;
        background-color: black;
        padding: 20px;
      }  

      &__item {
        display: inline-block;
        color: white;
        font-weight: bold;
        width: 130px;
        text-align: center;
        text-transform: uppercase;
        font-family: "disciplina_personal_useRg";    
        font-size: 25px;
        cursor: pointer;


        &--dances {
          color: $redMenu;
          &:hover {
            color: $redMenuLight;
          }
        }

        &--stages {
          color: $greenMenu;
          &:hover {
            color: $greenMenuLight;
          }
        }

        &--people {
          color: $tooblueMenu;
          &:hover {
            color: $tooblueMenuLight;
          }
        }

        &--contacts {
          color: $blueMenu;
          &:hover {
            color: $blueMenuLight;
          }
        }

        &--wanttodance {
          color: $orangeMenu;
          margin-left: 30px;
          &:hover {
            color: $orangeMenuLight;
          }
        }
      }     
    } 

    .main-logo {
      margin: 20px 20px 0 20px;
    }
  }

  &__content {    
    @extend .site_block;    
    &-brief {
      font-size: 15px;
      line-height: 22px;

      .separator {
        width: 800px;
        background: $light;
        height: 30px;
        margin-top: 10px; 
        margin-bottom: 5px;
      }

      .main-slider {
        background: $lighter;
        position: relative;
        overflow: hidden; 

        &__controls{
          top: 0px;
          position: absolute;
          width: 800px;
          height: 200px;
          display: block;

          &-left {
            position: relative;
            left: 10px;
            top: 50px;
            cursor: pointer;
            width: 20px;
            display: inline-block;
            float: left;
            z-index: 2;

            img {
                height: 70px;
            }
          }

          &-right {
            position: relative;
            right: 30px;
            cursor: pointer;
            top: 50px;
            width: 20px;
            display: inline-block;
            float: right;
            z-index: 2;

            img{
                height: 70px;
            }
          }
        }       

        &__list{
          display: block;
          margin: 0 auto;
          height: 172px;
          width: 2000px;
          position: relative;
          padding: 5px 5px 0 5px;

          &-item{
            display: inline-block;
            margin: -2.5px;

            img {
              width: 260px;
              height: 170px;
            }
          }
        }
      }

      .info {
        display: block;
        margin: 0 auto;
        position: relative;
        width: 400px;
        padding: 20px;

        &__date {
            text-align: center;

           &-pic {              
            @extend .info_field;
          } 

          &-value {              
            @extend .info_field;
          }
        }        

        &__phone {
          text-align: center;

           &-pic {              
            @extend .info_field;
          } 

          &-value {              
            @extend .info_field;
          }
        }
      }

      .description {
        background-color: $lighter; 

        &__title {
          margin: 0 auto;
          width: 200px;
          text-align: center;
          padding-top: 20px;
          font-weight: bold;
        }

        &__text {
          padding: 20px;
          text-indent:40px;          
        }
      }
    }


    .coordinates {
      padding: 50px;

      &__title {
        margin: 0 auto;
        width: 400px;
        text-align: center;
        font-family: "disciplina_personal_useRg";
        line-height: 1px;
        
        &-pic {              
          @extend .info_field;
        } 

        &-text {              
          @extend .info_field;
          text-transform: uppercase;
          font-size: 40px;
          font-weight: bold;
        }
      }

      &__map {
        margin: 0 auto;
        padding: 20px;
        width: 500px;    
        position: relative;

        &-descriptions {
          display: none;
          position: absolute;
          top: 225px;
          width: 170px;
          font-size: 10px;
          right: -193px;
          border: 3px solid black;
          padding: 8px;        
        }    

        .triangle-left {
          display: none;
          position: absolute;
          top: 236px;
          right: -4px;
          width: 0;
          height: 0;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-right: 15px solid black;
        }

        .inner-triangle {
          position: relative;
          top: -12px;
          left: 4px;
          width: 0;
          height: 0;
          border-top: 12px solid transparent;
          border-bottom: 12px solid transparent;
          border-right: 12px solid white;
        }

        &-header {
          width: 100%;
          height: 30px;
          display: block;

          &-left {
            display: inline-block;
            float: left;
            width: 200px;
          }

          &-right {
            display: inline-block;
            float: right;
            text-align: right;
            width: 200px;
          }
        }

        &-content {
          display: block;
          height: 300px;
          width: 500px;
        }

        &-footer {
          width: 100%;
          display: block;
          height: 30px;
          margin-top: 10px;
        }
      }
    }

    .tamtams {
      width: 800px;

      .tam {
        display: inline-block;
        cursor: grabbing;
      }
    }

    .geography {
      padding: 50px;
      position: relative;

      &__title {
        margin: 0 auto;
        width: 400px;
        text-align: center;        
        font-family: "disciplina_personal_useRg";
        line-height: 1px;
        
        &-pic {              
          @extend .info_field;
        } 

        &-text {              
          @extend .info_field;
          text-transform: uppercase;          
          font-size: 40px;
          font-weight: bold;
        }
      }

      &__interactive-earth {
        position: relative;
        width: 700px;
        height: 500px;

        &-point {
          position: absolute;
          z-index: 5;
          visibility: hidden;

          img {
            width: 30px;
          }
        }
        
        &-img {
          position: relative;
          width: 700px;
          height: 500px;

          #svgCanvas {
            top:0px;
            position: absolute;
            width: 700px;
            height: 500px;
            z-index: 1;

            svg {
              position: absolute;
              top: 0px;
              width: 700px;
              height: 500px;
              /*position: a*/
            }
          }

          #earth {
            position: absolute;
            margin: 0 auto;
            width: 700px;
            height: 500px;
            z-index: 2; 

            svg {             
              width: 200px;
              height: 200px;
              margin: 0 auto;
              left: 250px;
              position: absolute;
              top: 150px;              
            }
          }
        }

        &-label {
          position: absolute;
          font-family: "disciplina_personal_useRg";
          color: $textEarth;
          padding: 10px;
          padding-left: 0px;
          padding-right: 0px;
          visibility: hidden;
        }

        .country-info {
          position: absolute;
          width: 340px;
          background-color: $light;
          padding: 10px 10px 5px 10px;
          visibility: hidden;
          font-size: 13px;
          line-height: 20px;

          &__images {
            position: relative;    
            height: 170px;

            &-item {
              display: inline-block;
              position: relative;

              &--horizontal {
                width: 200px;
                float: left;
              }

              &--vertical {
                width: 128px;
                float: right;
              }
            }
          }

          &__label {
            font-family: "disciplina_personal_useRg";
            width: 100px;
            font-size: 14px;
            padding: 5px 0 7px 0;
            display: block;
            position: relative;
          }

          &__text {
            padding: 0 0 10px 0px;
            text-indent: 30px;
          }

          &__footer {
            display: block;
            margin: 0 auto;

            &-item {
              display: inline-block;
              cursor: pointer;
              width: 70px;
              margin-left: 30px;

              img {                
                width: 60px; 
              }

              &-point {
                img {
                  width: 35px;
                  vertical-align: 5px;
                }
              }

              &-info {

              }

              &-checklist{

              }
            }
          }
        }
      }

      .geography__panel {
        position: relative;
        height: 40px;
        width: 200px;
        float: right;
        z-index: 3;       
      }
    }

    .social {
      padding-left: 20px;

      &-button {
        text-decoration: none;  
        margin-left: -3px;    

        img {
          width: 30px;
        }
      }

      &-button--fb {   
        img{   
          margin-bottom: -2px; 
          width: 31px;
        }
      }

      &-button--twitter {
        
      }

      &-button--pinterest {      
        margin-bottom: -2px;  
        img {
          width: 27px;
        }
      }

      &-button--share {  
        margin-left: -5px;       
      }

      &-button--rss {

      }
    }

    .separator {
      width: 800px;
      background: $light;
      height: 30px;
      margin-top: 5px; 
      margin-bottom: 5px;
    }
  }

  &__footer {
    @extend .site_block; 
    background-color: black;

    &-container {

      .under-menu, .under-menu-second {
        display: inline-block;
        vertical-align: top;

        &__list {  
          display: block;
          background-color: black;
          padding: 20px;
        }  

        &__item {
          display: block;
          color: white;
          width: 140px;
          font-size: 12px;
          cursor: pointer;
        }
      }

      .under-logo{
        display: inline-block;
        padding: 20px;
        float: right;
        img {
          height: 50px;
        }
      }
    }
  }
}

.swiper-wrapper {
    width: 2000px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}


#map {
    width: 100%; height: 100%; padding: 0; margin: 0;
    img {
      cursor: pointer;
    }
}

#line
{
    stroke-dasharray: 15;
    stroke-dashoffset: 30;
    -webkit-animation: draw 1s linear infinite;
}

@-webkit-keyframes draw
{
  to { stroke-dashoffset: 0;}
}