@font-face {
  font-family: 'font';
  src: url("../fonts/basic/Gill Sans Ultra Bold.ttf") format("truetype"); }

body {
  font-family: Comfortaa; }

  .site__content .coordinates {
    padding: 50px; }
    .site__content .coordinates__title {
      margin: 0 auto;
      width: 400px;
      text-align: center;
      font-family: "font";
      line-height: 1px; }
      .site__content .coordinates__title-text {
        text-transform: uppercase;
        font-size: 30px;
        font-weight: bold; 
      
      }
    .site__content .coordinates__map {
      margin: 0 auto;
      padding: 20px;
      width: 500px;
      position: relative; }
      .site__content .coordinates__map-descriptions {
        display: none;
        position: absolute;
        top: 225px;
        width: 170px;
        font-size: 10px;
        right: -193px;
        border: 3px solid black;
        padding: 8px; }
      .site__content .coordinates__map .triangle-left {
        display: none;
        position: absolute;
        top: 236px;
        right: -4px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid black; }
      .site__content .coordinates__map .inner-triangle {
        position: relative;
        top: -12px;
        left: 4px;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-right: 12px solid white; }
      .site__content .coordinates__map-header {
        width: 100%;
        height: 30px;
        display: block; }
        .site__content .coordinates__map-header-left {
          display: inline-block;
          float: left;
          width: 200px; }
        .site__content .coordinates__map-header-right {
          display: inline-block;
          float: right;
          text-align: right;
          width: 200px; }
      .site__content .coordinates__map-content {
        display: block;
        height: 300px;
        width: 500px; }
      .site__content .coordinates__map-footer {
        width: 100%;
        display: block;
        height: 30px;
        margin-top: 10px; }
  .site__content .geography {
    padding: 50px;
    position: relative; }
    .site__content .geography__title {
      margin: 0 auto;
      width: 400px;
      text-align: center;
      font-family: "font";
      line-height: 1px; }
      .site__content .geography__title-text {
        text-transform: uppercase;
        font-size: 30px;
        font-weight: bold; }
        .site__content .coordinates__title {
          text-align: center;
          font-family: "font";
          line-height: 1px;
        }

#map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }
  #map img {
    cursor: pointer; }

    .coordinates__title-pic {
      width: 40px;
    }
    .coordinates__title-pic img {
      width: 40px;
    }

    .site__content .coordinates__title-text {
      margin-top: -20px;
    }

    .site__content .coordinates__map {
      margin-top: 20px;
    }