body {
	font-size: medium;
	min-width: 500px;
	font-family: arial;
}

.button {
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
	border: 2px solid #3c4036;
	cursor: pointer;
	background-color: white;
	font-size: 16px;
}

.header {
	background-color: white;
	border-bottom: 1px solid #e6e6e6;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.header .menu {
	margin: 10px;
	color: #403939;
	font-size: 17px;
}


.title-327 {
	padding: 2px;
   border-radius: 4px;
   color: white;
}

.menu-item {
	font-size: 20px;
	cursor: pointer;
}

.header .cart {
	position: absolute;
	right: 20px;
	top: 10px;
	height: 20px;
}


.footer {
	margin-top: 20px;
	height: 100px;
	position: relative;
	border-top: 1px solid #e6e6e6;
}

.footer .copyright {    
	margin-top: 80px;
   font-size: 15px;
   float: right;
}

.footer .menu-item {
	font-size: 14px;
}

.footer .menu {
	margin-top: 20px; 
	display: inline-block;
	margin-left: 20px;
}




.filter {
	position: absolute;
	right: 120px;
	top: 10px;
	height: 20px;
	cursor: pointer;
	
	padding: 4px;
   border-radius: 4px;
}


.filter .f{
	display: inline-block;
}

.filter .f__count{
	display: inline-block;
	font-size: 12px;
	color: #403939;
}




.filter__price-from-title, .filter__price-to-title, .filter__price-from-text, .filter__price-to-text {
	display: inline-block;
	margin-right: 10px;
}

.filter__price-from-text, .filter__price-to-text {
	width: 40px;
}

.filter__price-title, .filter__by-title, .filter__by-text {
	margin: 10px;
}

.filter__by-text {
	margin-right: 20px;
}

.filter__by-title {
	line-height: 20px;
}

.filter__by-input {
	margin: 20px;
	clear: both;
}

.filter__row {
	display: block;
	line-height: 20px;
}

.filter__price-block {
	display: inline-block;
	padding: 10px;
	line-height: 20px;
}

.filter__price-title {
	display: inline-block;
	line-height: 20px;
}


.categories{
	 position: absolute;
	 right: 230px;
	 top: 6px;
	 height: 20px;
	 cursor: pointer;
	 padding: 4px;
	 border-radius: 4px;
}


.categories__title {
	display: inline-block;
	vertical-align: -2px;
	
	padding: 4px;
   border-radius: 4px;
}


.categories-main {
	width: 420px;
	margin-top: 20px;
	position: fixed;
	right: 55px;
	background-color: white;
	z-index: 1;
	padding: 20px;    
	font-size: medium;
}

.category {
	 display: inline-block;
    margin: 7px;
    width: 180px;   
}

.category span {
	text-decoration: underline;
   padding: 3px;
   cursor: pointer; 
}

.category.selected span {
	 background-color: grey;
    color: white;
    text-decoration: none;
}

.browse__category {
	margin: 20px;
}

.browse__category-item {
	padding: 3px;
	background-color: grey;
	color: white;
	margin: 5px;
	cursor: pointer;
}

.sort {
	margin: 20px;
}

.sort-item {
	padding: 3px;
	margin: 5px;
	cursor: pointer;
}
.sort-item.selected {
	background-color: grey;
	color: white;
}

.cart {
	cursor: pointer;
}


.cart__title {
	display: inline-block;
	vertical-align: -2px;
	
	padding: 4px;
   border-radius: 4px;
}

.cart__brackets {
	display: inline-block;
	cursor: pointer;
	color: #3c4036;
}
.cart__brackets .i{
	display: inline-block;
	vertical-align: unset;
	font-size: 13px;
	margin-left: 1px;
	margin-right: 1px;
    vertical-align: 1px;
}





.app {
	padding: 20px;
}

.cart-main {
	width: 420px;
	margin-top: 20px;
	position: fixed;
	right: 55px;
	background-color: white;
	z-index: 1;
	padding: 20px;    
	font-size: medium;
}

.cart-main .message {
	position: relative;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
}

.cart-total {
	margin-top: 20px;
	text-align: left;
}

.catalog {
	margin-top: 20px;
}


.cart-total__price {
	width: 290px;
	margin-right: 20px;
}

.cart-total__confirm {	
	width: 65px;
	text-align: center;
}

.cart-total__greetings {
	width: 420px;
	line-height: 15px;
	height: 25px;
	margin-top: 40px;
	text-align: center;
	padding-bottom: 40px;
	letter-spacing: -0.7px;
}

.cart-total__greetings-order {
	font-size: 20px;
}

.cart-total__loading {
	display: inline-block;
	vertical-align: middle;
	margin-left: 40px;
}

.cart-total div {
	display: inline-block;
}

.cart-items .product:nth-child(2n-1) {
	 background: #f7f5f7;
}

/*
.cart-items .product:nth-child(2n-1):hover, .cart-items .product:nth-child(2n):hover {
	 background: #e8e6e8;
}
*/

.cart-items__message {
	line-height: 20px;
	height: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: right;
}

.cart-items__select {
	border-radius: 5px;
	border: 1px solid gray;
	margin-top: 5px;
	max-height: 300px;
}




.filter-main {
	width: 300px;
	margin-top: 20px;
	position: fixed;
	right: 55px;
	background-color: white;
	z-index: 1;
	padding: 20px;
}

.filter__by-title, .filter__by-text, .filter__by-input {
	display: inline-block;
}

.filter__by-text {
	margin-right: 20px;
}

.filter__price-from-title, .filter__price-to-title {
	font-size: small;
}


.product {	
	line-height: 30px;
	display: block;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

.product div {
	display: inline-block;
	position: relative;
	text-align: right;
}

.product__name {
	width: 280px;
	text-transform: capitalize;
}

.product__price {
	width: 100px;
}

.remove-cross {
	font-size: 14px;
	cursor: pointer;
	vertical-align: middle;
	float: right;
}

.cancel-cross {
  font-size: 14px;
  display: inline-block;
  vertical-align: 8px;
  cursor: pointer;
  padding: 5px;
}

.hide {
	display: none!important;
}


.product-card {
	width: 280px;
	height: 280px;
	display: inline-block;
	position: relative;
}

.product-card__name {
	text-transform:capitalize;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	z-index: 0;
	position: absolute;
	bottom: 10px;
	background: #e5e3e5;
	padding: 2.5px;
	margin-right: 10px;
	margin-left: 10px;
   font-size: medium;
}

.product-card__price {
	top: 20px;
	left: 20px;
	z-index: 0;
	position: absolute;
	background-color: white;
   padding: 2px;    
   font-size: large;
}

.product-card__cover {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 250px;
	height: 250px;
	background-color: #f7f5f7;
	z-index: -1;
}

.product-card:hover .product-card__cover {	
	background-color: #f2f0f2;
	cursor: pointer;
}
.product-card:hover .product-card__buy {	
	display: block;
}


.product-card__buy {
	padding: 2.5px 4.5px 2.5px 4.5px;
	border: 1px solid black;
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
	position: absolute;
	z-index: 0;
	bottom: 20px;
	right: 20px;
	background: #f7f5f7;
	display: none;
}

.product-card__badge {
	padding: 2.5px 4.5px 2.5px 4.5px;
	border: 1px solid black;
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
	position: absolute;
	z-index: 0;
	bottom: 20px;
	right: 20px;
	background: #f7f5f7;
	display: block;
}

.product-card__buy:hover {
	color: white;
	background: black;
}


.big-product {
	display: inline-block;
	margin: 20px;
	width: 320px;
	vertical-align: top;
	color: #403939;
	
	background-color: white;
   padding: 15px;
}

.big-product-card {
	background-color: #f8f9f7;
   margin: 10px;
}
.big-product-card img {
	background-color: white;	
}


.big-product--text {
	width: 320px;
}

.big-price {
	font-size: 35px;
	margin-top: 40px;
}
.big-price__words {
	font-size: 18px;
}

.bottom-align {
	vertical-align: bottom;
}



/* W3c schools tut modal*/
 /* The Modal (background) */
.modal {
  /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #f7f5f7;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 



.modal__img {
	background-color: white;
}

.modal-slider {
    width: calc(100% - 320px);
    height: 280px;
    float: right;
    margin-top: 90px;
    padding: 10px;
    overflow: hidden;
 }
 
.modal-slider .inner {
	width: 2000px;
}

.modal-slider img {
	display: inline-block;
	width: 200px;    
	
	margin: 7px;
   background-color: white;
}

.modal__name {
	text-transform: capitalize;
	}
